<!DOCTYPE html>
<html>
<head>
  <title>Dmap</title>
  <%= stylesheet_link_tag    "dmap/application", :media => "all" %>
  <%= javascript_include_tag "dmap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
